

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.global/8fc8c338-ea86-4b6f-93b7-9656cca11db9/5cf2660af5f4214def7166dc7a7c8062.jpg?v=1648814099240");
  color: white;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: purple;
  
}

/* Button - Add it from the README instructions */
button {
padding: 10px;
border-radius: 10px;
}


#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}

#button1:active, #button1.lit {
    background:green;
}

#button2 {
    background: lightblue;
}

#button2:active, #button2.lit {
    background:blue;
}

#button3 {
    background: pink;
}

#button3:active, #button3.lit {
    background:red;
}

#button4 {
    background: lightyellow;
}

#button4:active, #button4.lit {
    background:yellow;
}

#button5 {
    background: mediumslateblue;
}

#button5:active, #button5.lit {
  background:indigo;
}


